.header {
  margin-top: 1.3rem;
  text-align: center;
}
.header__p {
  color: #FFFFFF;
  font-size: 2rem;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 3rem;
  display: grid;
  grid-template-columns: 70% 30%;
  font-size: 2rem;
}

.profilePicture {
  border-radius: 50%;
  border: 0.1rem solid #000000;
}
.profilePicture:hover {
  cursor: pointer;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.video {
  position: relative;
}
.video__main {
  height: 35rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
}
.video__star {
  position: absolute;
  left: -3%;
  top: 0.5%;
  font-size: 5rem;
}
.video__information {
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  bottom: 0%;
  width: 62.3rem;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 2rem;
}
.video__information--left {
  opacity: 1;
  left: 0;
  margin-left: auto;
  justify-content: flex-start;
  gap: 2rem;
  box-shadow: none;
}
.video__information--right {
  opacity: 1;
  right: 0;
  justify-content: flex-end;
  gap: 2rem;
  box-shadow: none;
  margin-bottom: 5%;
  box-shadow: none;
  background: transparent;
}
.video__information:hover {
  opacity: 1;
}

.comments {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.comments__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.comments__list--item {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 62.3rem;
  gap: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #FFFFFF;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
}
.comments__textArea {
  height: 12.1rem;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 62.3rem;
  resize: none;
  background: #FFFFFF;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
}

.fa-regular {
  cursor: pointer;
}

.fa-solid {
  cursor: pointer;
}

.rightAside {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.rightAside__video {
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
}
.rightAside__video:hover {
  cursor: pointer;
}

html {
  font-family: sans-serif;
}

body {
  background: linear-gradient(135deg, #5C16C5, #e7b4f9);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 62.5rem) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .leftAside {
    display: block;
  }
  .video {
    gap: 2rem;
  }
  .comments__textArea {
    margin-bottom: 2rem;
  }
  .rightAside__video {
    width: 75%;
  }
}
@media screen and (max-width: 41.625rem) {
  .video__main {
    height: auto;
    width: 50rem;
  }
  .comments__list--item {
    width: 50rem;
  }
  .comments__textArea {
    width: 100%;
  }
  .video__information {
    width: 50rem;
  }
  .video__star {
    font-size: 3.5rem;
  }
  .rightAside__video {
    width: 100%;
  }
}
@media screen and (max-width: 34.375rem) {
  .video__main {
    width: 40rem;
  }
  .video__information {
    font-size: 1.2rem;
    width: 40rem;
    padding: 1.5rem;
  }
  .comments__list--item {
    width: 40rem;
    font-size: 1.2rem;
  }
  .header__p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 28.125rem) {
  .video__main {
    width: 30rem;
  }
  .video__information {
    width: 30rem;
    padding: 0.8rem;
  }
  .comments__list--item {
    width: 30rem;
  }
  .profilePicture {
    width: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
