@use "../../abstracts/mixins";
.rightAside{
    width: 60%;
    @include mixins.flexColumn;
    gap: 3rem;
    
    
   &__video{
        border-radius: 0.5rem;
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);

        &:hover{
            cursor: pointer;
        }
    }
}

