@use "../../abstracts/colors";
@use "../../abstracts/mixins";

.leftSection {
    @include mixins.flexColumn;
    align-items: center;
    gap: 2rem;
}


.video {
    position: relative;

    &__main {

        height: 35rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);

    }

    &__star {
        position: absolute;
        left: -3%;
        top: 0.5%;
        font-size: 5rem;
    }

    &__information {
        opacity: 0;
        transition: opacity 0.3s;
        position: absolute;
        bottom: 0%;
        width: 62.3rem;
        display: flex;
        align-items: center;
        background: map-get(colors.$baseColors, "white");
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 2rem;



        &--left {
            opacity: 1;
            left: 0;
            margin-left: auto;
            justify-content: flex-start;
            gap: 2rem;
            box-shadow: none;
        }

        &--right {
            opacity: 1;
            right: 0;
            justify-content: flex-end;
            gap: 2rem;
            box-shadow: none;
            margin-bottom: 5%;
            box-shadow: none;
            background: transparent;

        }

        &:hover {
            opacity: 1;
        }
    }
}

.comments {
    height: 100%;
    @include mixins.flexColumn;
    gap: 2rem;

    &__list {
        @include mixins.flexColumn;
        gap: 2rem;

        &--item {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 62.3rem;
            gap: 2rem;
            padding: 2rem;
            border-radius: 0.5rem;
            background: map-get(colors.$baseColors, "white");
            box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
        }
    }

    &__textArea {
        height: 12.1rem;
        border: none;
        padding: 1.5rem;
        border-radius: 0.5rem;
        width: 62.3rem;
        resize: none;
        background: map-get(colors.$baseColors, "white");
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
    }
}

.fa-regular {
    cursor: pointer;
}

.fa-solid {
    cursor: pointer;
}